body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.timer-container {
    text-align: center;
    background-color: rgb(79, 79, 77);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timer {
    font-size: 48px;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;   
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:rgb(162, 51, 11);
    color: white;
    
}